.App {
  position: relative;
  
  text-align: center;
  font-family: 'Bree Serif';

  -webkit-user-select: none;
  -moz-user-select: none;
}

.lightMode {
  background-color: rgb(186, 204, 228);
  color: black;
}

.darkMode {
  background-color: rgb(1, 29, 65);
  color: white;
}

@media (min-width: 1921px){
  html { font-size: 20px; }
}

@media (max-width: 1920px){
  html { font-size: 20px; }
}

@media (max-width: 1600px){
  html { font-size: 18px; }
}

@media (max-width: 1366px){
  html { font-size: 16px; }
}

@media (max-width: 1280px){
  html { font-size: 14px; }
}

@media (max-width: 1024px){
  html { font-size: 12px; }
}

@media (max-width: 640px){
  html { font-size: 10px; }
}

@media (max-width: 414px){
  html { font-size: 8px; }
}

@media (max-width: 375px){
  html { font-size: 7px; }
}