.divNavBar__logo{
    margin: 10px;
    padding-right: 5px;
    font-size: 20px;
    letter-spacing: 3px;
    border-right: 7px solid rgb(0, 108, 180);

    transition: 0.5s;
}

.divNavBar__logo:hover{
    cursor: pointer;
    color:rgb(190, 40, 40);
}