.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    min-height: 100vh;
    padding: 1rem;
    z-index: 1;
}

.content__flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

    width: 100%;
    z-index: 1;
}

.content__flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content__section{
    flex: 1;
    padding: 1rem;

}

.content__textArea{
    text-align: justify;
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 50px;
    color: white;
}

.content__image{
    width: 30rem;
    height: 30rem;

    object-fit: cover;

    border-radius: 10% 30% 10% 2%;
    border: 5px solid rgb(190, 40, 40);
}

.about__singleIcon{
    padding: 0.5rem;
    font-size: 3rem;
}

.icon__lightMode{ color: black; transition: 0.5s; }
.icon__darkMode{ color: white; transition: 0.5s; }

.icon__lightMode:hover{
    cursor: pointer;
    color:rgb(190, 40, 40);
}

.icon__darkMode:hover{
    cursor: pointer;
    color:rgb(190, 40, 40);
}

.background__text{
    font-size: 8rem;
    color:rgba(0, 108, 180, 15%);
    z-index: 0;
}

.left{
    position: absolute;
    bottom: 0;
    left: 2%;
}

.right{
    position: absolute;
    bottom: 0;
    right: 2%;
}

/* SPAN's SECTION */
.titleText{
    display: block;
    margin-bottom: 1rem;
    font-size: 4rem;
    color:rgb(190, 40, 40);
}

.largeText{
    display: block;
    font-size: 1.6rem;
    line-height: 160%;
}

/* RWD */
@media (max-width: 1024px){
    .content__flexRow{
        display: flex;
        flex-direction: row;
    }

    .content__section{ flex: 1; } 
    .socials{ flex-direction: column; }

    div.content__article{
        width: 80%;
    }
}

@media (max-width: 800px){
    .content__flexRow{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content__section{ flex: 0; } 
    .socials{ flex-direction: row; }
}