div.navDiv{
    width: 8em;
    border-right: 1px solid rgb(138, 138, 138);
}

button.navButton{
    padding: 5px 0px;

    background-color: transparent;
    border: none;
    transition: 0.5s transform;
}

button.navButton:hover{
    cursor: pointer;
    transform: translate(2px);
}

.lightMode{
    color: "black";
}

.darkMode{
    color: white;
}