div.navDiv{
    width: 130px;
    border-right: 1px solid rgb(138, 138, 138);

}

button.navButton{
    padding: 5px 5px;

    font-size: 20px;
    letter-spacing: 0px;

    background-color: transparent;
    border: none;
    transition: 0.5s transform;
}

button.navButton:hover{
    cursor: pointer;
    transform: translate(2px);
}

.lightMode{
    color: "black";
}

.darkMode{
    color: white;
}