.ProgressBar__box{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 0.5rem;
}

.ProgressBar__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ProgressBar__icon{
    font-size: 36px;
    margin-right: 20px;
}

.ProgressBar__span{
    font-size: 16px;
    margin-top: -5px;
}

.ProgressBar__emptyBar{
    width: 400px;
    height: 25px;

    border-radius: 20px;
    border: 2px solid rgb(87, 87, 87);
    background-color: rgb(194, 176, 176);
}

.ProgressBar__done{
    height: 100%;

    font-weight: 700;
    color: black;

    border-radius: 20px;
    background: linear-gradient(90deg, rgb(253, 234, 59) 25%, rgb(58, 255, 78) 85%);
}

/* RWD */
@media (min-width: 1367px){
    .ProgressBar__emptyBar{ width: 400px; }
}

@media (max-width: 1366px){
    .ProgressBar__emptyBar{ width: 400px; }
}
  
@media (max-width: 1280px){
    .ProgressBar__emptyBar{ width: 350px; }
}
  
@media (max-width: 1024px){
    .ProgressBar__emptyBar{ width: 300px; }
}

@media (max-width: 800px){
    .ProgressBar__emptyBar{ width: 300px; }
}
  
@media (max-width: 640px){
    .ProgressBar__emptyBar{ width: 250px; }
}
  
@media (max-width: 414px){

}
  
@media (max-width: 375px){

}