.ProgressBar__box{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 0.5rem;
}

.ProgressBar__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ProgressBar__icon{
    font-size: 2.2rem;
    margin-right: 20px;
    font-weight: bold;
}

.ProgressBar__span{
    font-size: 1rem;
    color:rgb(190, 40, 40);
}

.ProgressBar__emptyBar{
    width: 30rem;
    height: 25px;

    border-radius: 20px;
    border: 2px solid rgb(87, 87, 87);
    background-color: rgb(194, 176, 176);
}

.ProgressBar__done{
    height: 100%;

    font-weight: 700;
    color: black;
    font-size: 1rem;
    line-height: 25px;

    border-radius: 20px;
    background: linear-gradient(90deg, rgb(253, 234, 59) 25%, rgb(58, 255, 78) 85%);
}